Prj_SOAPActivitiesOperationTwo/SharedResorces/Schemas/inputschema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Prj_SOAPActivities/SharedResorces/Schemas/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Prj_SOAPActivities/SharedResorces/Schemas/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="EmployeeData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int"/>
				<xs:element name="name" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>