Prj_SOAPActivitiesOperationTwo/SharedResorces/Schemas/inputschema2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Prj_SOAPActivitiesOperationTwo/SharedResorces/Schemas/Schema.xsd2"
	 targetNamespace="http://www.tibco.com/schemas/Prj_SOAPActivitiesOperationTwo/SharedResorces/Schemas/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="peopledata">
		<xs:complexType>
			<xs:sequence>
	<xs:element name="age" type="xs:int"/>
	<xs:element name="place" type="xs:string"/>
	<xs:element name="country" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>