Prj_XMLActivities/SharedResorcess/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Prj_XMLActivities/SharedResorcess/Schema.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Prj_XMLActivities/SharedResorcess/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="FamiliyDetails">
		<xs:complexType>
			<xs:sequence>

	<xs:element name="name" type="xs:string"/>
	<xs:element name="age" type="xs:int"/>
	<xs:element name="relation" type="xs:string"/>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>